@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot");
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/FiraSansRegular/FiraSansRegular.woff") format("woff"),
  url("../fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSansLight/FiraSansLight.eot");
  src: url("../fonts/FiraSansLight/FiraSansLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/FiraSansLight/FiraSansLight.woff") format("woff"),
  url("../fonts/FiraSansLight/FiraSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSansMedium/FiraSansMedium.eot");
  src: url("../fonts/FiraSansMedium/FiraSansMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/FiraSansMedium/FiraSansMedium.woff") format("woff"),
  url("../fonts/FiraSansMedium/FiraSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}



@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome/FontAwesome.eot?v=4.6.3");
  src: url("../fonts/FontAwesome/FontAwesome.eot?#iefix&v=4.6.3")format("embedded-opentype"),
  url("../fonts/FontAwesome/FontAwesome.woff?v=4.6.3") format("woff"),
  url("../fonts/FontAwesome/FontAwesome.ttf?v=4.6.3") format("truetype");
  font-style: normal;
  font-weight: normal;
}