.footer {
  background: rgba($black, .85);
  color: rgba($white, .5);
}

  .footer__section {
    padding: 1.85rem 3rem;
    font-size: 0;

    & + & {
      padding-top: 1rem;
      border-top: 1px solid rgba($white, .1);
    }
  }

    .footer__part {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      font-size: 1.6rem;

      &:last-child {
        text-align: right;
      }
    }

      .footer__desc {
        max-width: 32em;
      }



@include tablets {
  .footer {
    text-align: center;
  }

    .footer__section {}

      .footer__part {
        display: block;
        width: auto;
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 0;
          text-align: inherit;
        }
      }

        .footer__desc {
          max-width: none;
          margin: auto;
        }
}



@include phones {
  .footer {
    font-size: 13px;
  }

    .footer__section {
      font-size: inherit;
    }
}