.form-row {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

  .form-row__caption {
    margin-bottom: .25em;
    color: rgba($textColor, .8);
    font-weight: bold;
  }


.form-row--near {
  margin-bottom: 1.2rem;
}