.header {
  @extend %clearfix;

  position: absolute;
  left: 0;  right: 0;
  z-index: 10;
  padding: 2.7rem 3rem;
}

  .header__part {
    float: left;

    &:last-child {
      float: right;
    }
  }
