.section {}

  .section__title {
    position: relative;
    max-width: 9.5em;
    margin: auto;
  }


  .section__content {
    padding: 2rem 2rem 7rem;
  }


  .section__row {
    font-size: 0;
  }

    .section__col {
      display: inline-block;
      vertical-align: top;
      font-size: 1.6rem;
    }

    .section__col-1-2 {
      width: 50%;
    }


  .section__line {
    margin-bottom: 5.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }


.section__btn-top {
  display: block;
  width:  6rem;
  height: 6rem;
  margin: auto;
  border-radius: 50%;
  color: $white;
  font-family: Fontawesome;
  font-size: 2.8rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  opacity: .7;
  transition: opacity .5s;

  &:before {
    content: '\f077 ';
  }

  &:hover {
    opacity: 1;
  }
}



.section__corner {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0; right: 0;
    bottom: 100%;
  }
}


.section__i {
  position: relative;
  background: #EFEEE9;

  &:before {
    height: 8.9vw;
    background: linear-gradient(to top right, #EFEEE9 49.9%, transparent 50.1%) no-repeat;
  }
}


.section__i-can {
  position: relative;
  padding-left:  2rem;
  padding-right: 2rem;
  background: #EEEBDF;

  &:before {
    height: 8.9vw;
    background: linear-gradient(to top left, #EEEBDF 49.9%, transparent 50.1%) no-repeat;
  }
}


.section--works-title {
  position: relative;
  padding: 6rem 0;
  background: #FBF8F1;

  &:before {
    content: '';
    position: absolute;
    left: 0;  right: 0;
    bottom: 100%;
    height: 8.9vw;
    background:
      linear-gradient(to top right, #FBF8F1 49.9%, transparent 50.1%) left,
      linear-gradient(to top left,  #FBF8F1 49.9%, transparent 50.1%) right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
  }
}


.section--slider {}



.section--about-me {
  position: relative;
  padding-top: 1.4rem;
  padding-bottom: 19rem;
  background: url(../img/bg/bg-sea.jpg)  no-repeat top / cover;
}

  .section--about-me  .section__in {
    max-width: 80rem;
    margin: auto;
  }

  .section--about-me  .section__title {
    padding-top:    2.825em;
    padding-bottom: 2.825em;
  }