.section {}

  .section__body {}
  .section__foot {
    position: relative;
  }

  .section__title {
    position: relative;
    max-width: 9.5em;
    margin: auto;
  }


  .section__content {}


  .section__line {
    margin-bottom: 5.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }



.section__btn-top {
  display: block;
  width:  6rem;
  height: 6rem;
  margin: auto;
  border-radius: 50%;
  color: $white;
  font-family: Fontawesome;
  font-size: 2.8rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  opacity: .7;
  transition: opacity .5s;

  &:before {
    content: '\f077 ';
  }

  &:hover {
    opacity: 1;
  }
}




.section--works-title {
  position: relative;
  padding: 6rem 0;
  background: #FBF8F1;

  &:before {
    content: '';
    position: absolute;
    left: 0;  right: 0;
    bottom: 100%;
    height: 8.9vw;
    background:
      linear-gradient(to top right, #FBF8F1 49.9%, transparent 50.1%) left,
      linear-gradient(to top left,  #FBF8F1 49.9%, transparent 50.1%) right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
  }
}



.section--slider {}



.section--about-me {
  position: relative;
  padding-top: 1.4rem;
  background: url(../img/bg/bg-sea.jpg) fixed no-repeat top / cover;
}

  .section--about-me  .section__body {
    max-width: 80rem;
    margin: auto;
    padding-bottom: 3rem;
  }

  .section--about-me  .section__title {
    padding-top:    2.825em;
    padding-bottom: 2.825em;
  }
