.skills {}

  .skills__section {
    margin-bottom: 3.9rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

    .skills__caption {
      margin-bottom: .625em;
      font-size: 2.8rem;
      line-height: 1.143;
      font-weight: 600;
    }

    .skills__container {
      margin: -2rem -2rem 0;
      font-size: 0;
    }

      .skills__item {
        display: inline-block;
        vertical-align: middle;
        padding: 2rem 2rem 0;
        font-size: 1.6rem;
      }