extends ../_template

block variables
  - var title = 'About me'





block content
  .section.first
    .first__me
      .me
        .me__photo(style="background-image: url(assets/userfiles/me.jpg);")
        .me__name Бармин Илья
        .me__caption Личный сайт веб разработчика

    .first__btn-next





  .section
    .section__row
      .section__col.section__col-1-2.section__corner.section__i
        .section__content
          .section__title.title Обо мне

          .who-am-i
            .who-am-i__photo-wrap(style="background-image: url(assets/userfiles/me.jpg);")
              img.who-am-i__photo(src="assets/userfiles/me.jpg", alt="Это я")

            .who-am-i__title.title Кто я

            .who-am-i__content.content-editable
              p Я веб разработчик из Перми. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.

              p Этот сайт сделан в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нём свой контент. А пока смотрите, как тут всё классно и красиво!



      .section__col.section__col-1-2.section__corner.section__i-can
        .section__content
          .section__title.title Чем я могу быть вам полезен

          p Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

          .skills
            .skills__section
              .skills__caption Frontend
              .skills__item
              .skills__item
              .skills__item

            .skills__section
              .skills__caption Backend
              .skills__item
              .skills__item

            .skills__section
              .skills__caption WorkFlow
              .skills__item
              .skills__item
              .skills__item




  .section.map
    .map__container#map
    .map__contacts
      .map__title.title Контакты
      include ../common/_contacts

  script(src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full", defer)