extends ../_template

block variables
  - var title = 'About me'





block content
  .section.first
    .first__me
      .me
        .me__photo(style="background-image: url(assets/userfiles/me.jpg);")
        .me__name Бармин Илья
        .me__caption Личный сайт веб разработчика

    .first__btn-next

