extends ../_template

block variables
  - var title = 'About me'





block content
  .section.first
    .first__me
      .me
        .me__photo(style="background-image: url(assets/userfiles/me.jpg);")
        .me__name Бармин Илья
        .me__caption Личный сайт веб разработчика

    .first__btn-next



  .section.map
    .map__container#map
    .map__contacts
      .map__title.title Контакты
      include ../common/_contacts

  script(src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full", defer)