extends ../_template

block variables
  - var title = 'Blog'





block content
  .section.first

    .first__me
      .me
        .me__photo(style="background-image: url(assets/userfiles/me.jpg);")

      .first__title-wrap
        .first__title.double-title.double-title--blog
          .double-title__text.title Блог
          svg.double-title__bg
            use(xlink:href='assets/img/sprite.svg#blog_header')

        .first__desc Статьи, которые я написал


    .first__btn-next(data-go="next")





  .blog
    .blog__in
      .blog__side
        .blog__side-trigger

        .blog__menu
          ul.menu
            li.menu__item.menu__item--active
              a.menu__link(href="#404") Самое важное в SASS

            li.menu__item
              a.menu__link(href="#404") Приёмы вёрстки, без которых не обходится ни один сайт

            li.menu__item
              a.menu__link(href="#404") Самый необходимый набор Gulp плагинов

            li.menu__item
              a.menu__link(href="#404") Почему я выбрал Pug


      .blog__main
        article.post
          h2.post__title.title Самое важное в SASS
          .post__info
            time.post__date(datetime="2016-11-22") 22 ноября 2016

          .post__entry
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия

            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.



        article.post
          h2.post__title.title Приёмы в вёрстке, без которых не обходится ни один сайт
          .post__info
            time.post__date(datetime="2016-11-13") 13 ноября 2016

          .post__entry
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.





  include ../common/_footer