extends ../_start

block variables
  - var title = 'Welcome'





block content
  .welcome

    a.btn.btn--clear.welcome__btn-auth(href="#404") Авторизоваться

    .welcome__flipper
      .welcome__view
        .form-modal
          .form-modal__body
            .form-modal__section
              .me
                .me__photo(style="background-image: url(assets/userfiles/me.jpg);")
                .me__name Бармин Илья
                .me__caption Личный сайт веб разработчика

            .form-modal__section
              ul.social.social--colored
                li.social__item
                  a.social__btn.social__btn--vk(href="#404", title="Вконтакте")
                li.social__item
                  a.social__btn.social__btn--git(href="#404", title="Github")
                li.social__item
                  a.social__btn.social__btn--in(href="#404", title="Linkedin")

          .form-modal__foot.btn-group
            .btn-group__item
              .btn-group__btn
                a.btn.btn--crystal.btn-group__btn(href="works.html") Мои работы
            .btn-group__item
              .btn-group__btn
                a.btn.btn--crystal.btn-group__btn(href="about.html") Обо мне
            .btn-group__item
              .btn-group__btn
                a.btn.btn--crystal.btn-group__btn(href="blog.html") Блог



      .welcome__view.welcome__view--back
        form.form-modal(name="login")
          .form-modal__body
            .title.form-modal__title Авторизуйтесь

            .form-row
              .input-complex
                input.field.input-complex__field(type="text"  name="login"  placeholder="Логин")
                .input-complex__side
                  i.input-complex__icon.fa.fa-user

            .form-row
              .input-complex
                input.field.input-complex__field(type="password"  name="password"  placeholder="Пароль")
                .input-complex__side
                  i.input-complex__icon.fa.fa-key

            .form-row
              label.check.check--checkbox
                input.check__input(type="checkbox", name="is-human", checked)
                i.check__fake
                span.check__label Я человек

            .form-row
              .form-row__caption Вы точно не робот?

              ul.check-group.check-group--inline
                li.check-group__item
                  label.check.check--radio.check--highlight
                    input.check__input(type="radio", name="really-human", checked)
                    i.check__fake
                    span.check__label Да

                li.check-group__item
                  label.check.check--radio.check--highlight
                    input.check__input(type="radio", name="really-human")
                    i.check__fake
                    span.check__label Не уверен

          .form-modal__foot.btn-group
            .btn-group__item
              .btn-group__btn
                a.btn.btn--crystal.btn-group__btn(href="#404") На главную
            .btn-group__item
              .btn-group__btn
                button.btn.btn--crystal.btn-group__btn(type="submit") Войти





    .welcome__copyright
      include ../common/_copyright